<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="Nombre" placeholder="Nombre de la mascota" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="Fecha_Nacimiento" class="form-control" placeholder="Fecha de nacimiento">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Raza" class="form-control" placeholder="Raza">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Peso" class="form-control" placeholder="Peso">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success bt-block">
                                Guardar
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>